<div style="width: 50%;">
	<h1 style="margin: 50px 0 30px 0;">Знижка на PM Day</h1>

	<p>
		Підпишись на розсилку від Pragmatic Leaders – отримай 200 гривень знижки на <a href="http://pmday.com.ua/">Lviv Project Managers Day 2015</a>.
	</p>

	<p style="font-size: smaller;">
		Ти звичайно почнеш отримувати корисні і цікаві листи, але це буде не дуже часто і ти завжди зможеш відписатися.
	</p>

	<form role="form" class="madmimi digest" data-madmimi-id="<%= $pref[:madmimi] %>" data-lang="<%= @item.i18n[:lang] %>" data-type="news" data-source="Promo: PMDay 2015 Autumn discount" style="margin: 30px 0 0 0;">
		
		<input type="input" class="form-control name" placeholder="ім'я прізвище">			
		<input type="email" class="form-control email" placeholder="e-mail" style="margin: 5px 0 0 0;">
		
		<button type="submit" class="btn btn-primary btn-lg yes" style="margin: 15px 0 0 0; width:100%;">
			Отримати знижку <i class="fa fa-money"></i>
		</button>
	</form>

</div>